@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
    
}

body {
    background-image: url(assets/bg-image.jpg);
    
}

img {
    border-radius: 24px;
}

#about {
    padding: 4px 0 24px 24px;
}

#page {
    background-color: #F0E8C2;
    width: 800px;
    padding: 24px;
    border-radius: 24px;
    margin: auto;
}

#ingredients {
    padding: 24px 0 0 24px;

    & ul {
        padding: 4px 0 0 24px;
    }
}